* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: none;
  background-color: none;
}

button:active,
button:focus,
button:hover {
  outline: none;
  border: none;
}

.html,
body {
  font-size: 16px;
}
.continer {
  width: 100%;
  height: 500vh;
  max-width: 1500px;
  margin: 0 2rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.bg-image {
  background-image: url("/PICTURE/h_img.jpg");
  width: 100%;
  height: 80vh;
}
.bg-text {
  text-align: center;
  color: rgb(253, 247, 247);
  padding: 250px;
  padding-top: 240px;
}
.bg-text1 {
  text-align: center;
  padding: 2px;
  font-size: small;
  padding-top: 25px;
}
.bg-image1 {
  background-image: url("/PICTURE/l_image.jpg");
  width: 100%;
  height: 50vh;
  text-align: center;
}
.bg-text2 {
  color: rgb(253, 247, 247);
  padding: 250px;
  padding-top: 100px;
  font-size: small;
}

.display-none {
  display: none;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.design-item {
  position: relative;
}

.design-item > .item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
}

.item-text {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 2rem;
  z-index: 30;
  box-shadow: 5px 5px 10pxrgba (0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.bg-text3 {
  text-align: center;
}
.design-portfolio {
  display: flex;
  width: 65%;
  height: 25vh;
  margin-bottom: 25px;
  margin-left: 30px;
}
#item.text2 {
  visibility: hidden;
}
.design-portfolio2 {
  display: flex;
  width: 65%;
  height: 25vh;
  margin-left: 30px;
}
.bg-image2 {
  background-image: url(/assets/c_image.jpg);
  width: 100%;
  height: 80vh;
  padding: 10px;
  margin-top: 25px;
}
.form-group {
  box-sizing: border-box;
  display: flex;
  border: 1px solid white;
}
.form-item {
  color: white;
  display: flex;
  background-color: none;
}
